<?xml version="1.0" encoding="UTF-8"?>
 <widget xmlns="http://www.w3.org/ns/widgets" height="200" id="http://www.victorulink.com/Ramadan-AlAfasi" version="1.0.0" viewmodes="windowed fullscreen" width="200">
    
    <name short="Al Afasi">Al Afasi</name>    

    <description>
       Al Arafi Azkar and Doaa mobile app.
    </description>
    
    <!-- Note: Author href MUST BE Url encoded 
        @see http://en.wikipedia.org/wiki/Percent-encoding -->    
    <author email="maboelmagd@victorylink.com" href="http://www.victorylink.com">
        Mohamed Abo Elmagd
    </author>
    
    <icon src="icon.png"/>

    <content src="index.html"/>
    
    <license>
	   Copyright Victory link, 2013.
    </license>
    
   	<feature name="nokia://s40.nokia.com/SAWRT/2.3" required="true" />
   	<preference name="ApplicationName" value="AlAfasi" readonly="true"></preference>
   	<preference name="ServiceUrl" value="http://192.168.3.45:8090/AdMainService.svc/" readonly="true"></preference>
   	<preference name="UserName" value="" ></preference>
   	<preference name="Password" value=""></preference>
   	</widget>